@model IEnumerable<StartechMovies.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*DEMO-RAZOR*@
            @Html.DisplayNameFor(model => model.Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Released)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Runtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Awards)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Metascore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imdbRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imdbVotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*DEMO-RAZOR*@
            @*@Html.DisplayFor(modelItem => item.Poster)*@
            <img src="@item.Poster" height="130px;" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Released)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Runtime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Awards)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Metascore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imdbRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imdbVotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.imdbID }) |
            @Html.ActionLink("Details", "Details", new { id=item.imdbID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.imdbID })
        </td>
    </tr>
}

</table>
